NodeRed_Simulation.txt
[{"id":"8c0499d9.e3777","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2be54796.c206e8","type":"tcp in","z":"8c0499d9.e3777","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":320,"wires":[["29970ae9.050e06"]]},{"id":"3c037f6c.15ec68","type":"tcp in","z":"8c0499d9.e3777","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":420,"wires":[["72c895a.fb1cfec"]]},{"id":"cde679cb.2d3768","type":"ui_chart","z":"8c0499d9.e3777","name":"","group":"b49195f4.60adf8","order":0,"width":0,"height":0,"label":"Out of range (Parent 1)","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Out of range","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1030,"y":320,"wires":[[],[]]},{"id":"29970ae9.050e06","type":"function","z":"8c0499d9.e3777","name":"Is your child in range?","func":"var input = msg\nvar string2 = \"You child is out of range, PAY ATTENTION!!\\n\";\nif (msg.payload.localeCompare(string2)){\n    msg.topic=\"Out of range\"\n    msg.payload = 1;\n}\nelse{\n    msg.topic=\"Child in range\"\n    msg.payload = 0;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":320,"wires":[["cde679cb.2d3768","96e9e48b.390e08"]]},{"id":"96e9e48b.390e08","type":"debug","z":"8c0499d9.e3777","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":560,"wires":[]},{"id":"72c895a.fb1cfec","type":"function","z":"8c0499d9.e3777","name":"Is your child in range?","func":"var input = msg\nvar string2 = \"You child is out of range, PAY ATTENTION!!\\n\";\nif (msg.payload.localeCompare(string2)){\n    msg.topic=\"Out of range\"\n    msg.payload = 1;\n}\nelse{\n    msg.topic=\"Child in range\"\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":420,"wires":[["d48c6931.1ef8a8","96e9e48b.390e08"]]},{"id":"d48c6931.1ef8a8","type":"ui_chart","z":"8c0499d9.e3777","name":"","group":"b49195f4.60adf8","order":0,"width":0,"height":0,"label":"Out of range (Parent 2)","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Out of range","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1010,"y":420,"wires":[[],[]]},{"id":"b49195f4.60adf8","type":"ui_group","z":"","name":"Child","tab":"3b567ed3.cff332","disp":true,"width":"6","collapse":false},{"id":"3b567ed3.cff332","type":"ui_tab","z":"","name":"Temp","icon":"Thermostat"}]
